@using WebApplication1.ViewModels
@{
    //Layout = null;
}
@model AddCastPersonVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CastEdit</title>
</head>
<body>
    <a class="btn btn-primary" asp-controller="Media" asp-action="PrikazDetaljno" asp-route-MediaID="@Model.MediaID" id="bsBtn">Go back</a>
    <form asp-controller="Media" asp-action="SnimiCastEdit">
        @Html.AntiForgeryToken()
        <input asp-for="MediaID" value="@Model.MediaID" hidden />
        <div class="form-group">
            <label asp-for="MediaName" class="control-label">Media: </label>
            <input asp-for="MediaName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label>Person: </label>
            <select asp-for="PersonID" asp-items="@Model.PersonStavke" class="form-control" id="selectPerson"></select>
        </div>
        <div class="form-group">
            <label>Character: </label>
            <select asp-for="CharacterID" asp-items="@Model.CharacterStavke" class="form-control" id="selectChar"></select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" id="submitBtn"/>
        </div>
    </form>
    <h5>Cast members: </h5>
    <div id="CastDiv">

    </div>
</body>
</html>
<style>
    #submitBtn {
        background-color:#343a40;
    }
    #bsBtn {
        background-color:#343a40;
        margin-bottom:20px;
    }
</style>
<script>
        $.get("/Media/CastTable?MediaID=@Model.MediaID", function (result) {
            $("#CastDiv").html(result);
        });

        $(function() {
          var select = $('#selectPerson');
          select.html(select.find('option').sort(function(x, y) {
            // to change to descending order switch "<" for ">"
            return $(x).text() > $(y).text() ? 1 : -1;
          }));
        });
    
        $(function() {
          var select = $('#selectChar');
          select.html(select.find('option').sort(function(x, y) {
            // to change to descending order switch "<" for ">"
            return $(x).text() > $(y).text() ? 1 : -1;
          }));
        });
</script>